@font-face {
  font-family: 'DejavuSans';
  src: url('assets/font/dejavusans_book/DejaVuSans-webfont.eot');
  src: url('assets/font/dejavusans_book/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
       url('assets/font/dejavusans_book/DejaVuSans-webfont.woff') format('woff'),
       url('assets/font/dejavusans_book/DejaVuSans-webfont.ttf') format('truetype'),
       url('assets/font/dejavusans_book/DejaVuSans-webfont.svg#dejavu_sansbook') format('svg');
  font-weight: normal;
  font-style: normal;
}

$main_class: "rl";

.#{$main_class}-main {
  .#{$main_class}-node {
    font-family: 'DejavuSans';
    background: #b087a7;
    display: inline-block;
    text-align: center;

    div {
      display: inline-block;
    }

    .#{$main_class}-bracket {
      display: inline-block;
    }

    .#{$main_class}-fraction {
      display: inline-block;
      vertical-align: middle;
      .#{$main_class}-numerator {
        border-bottom: 0.1em solid black;
        display: block;
      }
      .#{$main_class}-denominator {
        display: block;
      }
    }
    .#{$main_class}-radic-sign {
      display: inline-block;
    }
    .#{$main_class}-rl-radic-inner {
      display: inline-block;
    }
    .#{$main_class}-sup {
      font-size: 66%;
      vertical-align: 1em;
      display: inline-block;
    }
  }
}
